/* Web Fonts & Fonts */
@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('../fonts/ArialRoundedMTBold.woff') format('woff'),
        url('../fonts/ArialRoundedMTBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-book';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-medium';
    src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-black';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-roman';
    src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Reset */

* {outline: none; box-sizing: border-box; -webkit-overflow-scrolling: touch}
a {text-decoration: none; cursor: pointer;}
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
body, html {height: 100%;}
input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}

/* Common Classes */
.wid100 {width:100%; float: left; }
.fleft {float: left;}
.fright {float: right;}
.listn {list-style: none; margin: 0; padding: 0;}
.defimg {width: 100%; height: auto;}
.defimg2 {width: auto; height: auto;}
.coverimg {width: 100%; height: 100%; object-fit: cover;}
.containimg {width: 100%; height: 100%; object-fit: contain;}
.pagewrapper {width: 100%;  margin: 0 auto; max-width: 1366px; padding: 0 25px;}
.pagewrapper2 {width: 100%; margin: 0 auto; max-width: 990px;}
img {@extend .defimg}
.close {width: 35px; height: 35px; background: url(../images/iconset1.png) no-repeat right -35px; position: absolute; right: 10px; top: 10px;}
.pad-0 { padding: 0px;}

/* Colors & Fonts */
$fontmed: 'Avenir-medium', Arial, sans-serif;
$fontbook : 'Avenir-book', Arial, sans-serif;
$fontroman : 'Avenir-roman', Arial, sans-serif;
$fontblack : 'Avenir-black', Arial, sans-serif;
$fonthead : 'Arial Rounded MT', Arial, sans-serif;



/* Colors */
$white: #fff;
$yellowgreen: #77bb53;
$orange: #e48810;
$lightgreen: #d0cc3a;
$transorange: rgba(228,136,16,0.7);
$translightgreen: rgba(194,205,35,0.7);
$transblack: rgba(0,0,0,0.6);
$textgray: #353535;
$darkgray: #2d2d2d;
$black : #000;
$dark : #3d3d3d;
$green : #46963b;
$lightgray : #888888;

.cs-container { padding: 0px 30px; box-sizing: border-box;}

.nav-logo { padding-top: 15px; max-width: 337px;  width: 100%;
    img { width: 100%;}
}



.top_nav { position: absolute; right: 70px; top: 15px;
    ul {
        li { display: inline-block; padding-right: 18px; position: relative;
            a { font-size: 18px; font-family: $fontmed; color: $white; outline: none; text-decoration: none; padding: 10px 20px; border-radius: 15px; text-transform: uppercase;}
        }

        li::after { position: absolute; content: ''; background:#3d3d3d; width: 2px; top: 2px; bottom: 2px; right: 6px; }

        li:first-child {
            a { background: #585858;}
        }
        li:nth-child(2) { 
            a { background: #46963b;}
        }

        li:last-child { padding-right: 0px;}
        li:last-child::after { display: none;}
    }
}   



/* Header */
.nav-custom { min-height: 130px; border: 0px; border-color: transparent; background: transparent; position: absolute; width: 100%; top: 0; left: 0; z-index: 90; margin-bottom: 0px;
    .navbar-nav { padding-top: 60px;
        > li {
            > a { font-family: $fontmed; color: $dark; font-size: 18px; text-transform: uppercase; padding: 15px 40px;}
        }
    }
}



.sec-title { font-family: $fontblack; font-size: 36px; text-transform: uppercase;}



.home {

    .sec-1 {
        .home-carousel {

            .item_hldr {
                aside { height: 770px;
                    img { height: 100%;}
                }

                article { max-width: 485px; width: 100%; position: absolute; top: 50%; left: 30px; transform: translate(0, -50%);
                    h2 { color: $green; font-size: 40px; font-family: $fonthead; margin-bottom: 30px;}
                    p { font-family: $fontmed; font-size: 24px; line-height: 36px; color: $lightgray;
                        span { font-family: $fontblack; color: $black;}
                    }

                    .sgn-up { margin-top: 70px;
                        a { padding: 14px 30px; font-family: $fontblack; color: $white; background: #add068; text-transform: uppercase; text-decoration: none; border-radius: 15px; box-shadow: 0 6px #46963b; }
                       
                    }
                }
            }

            .owl-nav {display: none;}

            .owl-dots { position: absolute; bottom: 12px; width: 100%;
                .owl-dot { 
                    span { height: 22px; width: 22px; background: #585858; margin: 0px 7px;}
                }

                .owl-dot.active { 
                    span { background: $green;}
                }
            }
        }
    }


    .sec-2 { padding: 130px 0px; background: url(../images/box_bg.png) #fff no-repeat  right -40px;

        .hldr {
            h3 { text-align: center;}
            > p { text-transform: uppercase; font-family: $fontmed; font-size: 24px; text-align: center; }
        

            > article { margin-top: 35px; 
                > h4 { color: #858585; font-family: $fontblack; text-align: center; margin-bottom: 40px; font-size: 24px;}

                > ul {  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;
                    > li { width: 33.3%; padding: 0px 15px;
                        > .item_hldr {
                            aside { margin-bottom: 20px;
                                img { width: auto; max-width: 100%; display: block; margin: 0 auto;}
                            }

                            article { text-align: center;
                                h6 { color: #7a7a7a; font-family: $fontblack; font-size: 24px; margin-bottom: 12px;}
                                h4 {font-family: $fontblack; font-size: 36px; text-transform: uppercase; color: $green; margin-bottom: 30px;}

                                p { font-size: 24px; font-family: $fontbook; line-height: 30px;
                                    a { text-decoration: none; color: $green;}
                                }
                            }
                        }
                    }
                }
            }
        }


    }




    .sec-3 {  padding: 130px 0px; background: url(../images/doodle.png) #484848 no-repeat ; background-size: cover;
        .hldr {
            > h3 { text-align: center; color: #add068;}

            article { max-width: 80%; width: 100%; margin: 0 auto; text-align: center; margin-top: 25px;
                > h4 { font-family: $fontblack; color: $white;  font-size: 24px; margin-bottom: 40px; line-height: 30px;}

                > p { font-family: $fontmed; font-size: 24px; color: $white; line-height: 30px;}


                .lrmore { margin-top: 75px;
                    a { padding: 15px 40px; font-family: $fontblack; font-size: 24px; color: $white; background: #add068; text-transform: uppercase; text-decoration: none; border-radius: 15px;    box-shadow: 0 6px #46963b }
                }
            }
        }
    }



    .sec-4 { padding: 65px 0px 35px; 
        .hldr { padding: 0px 30px; overflow: hidden;
            > h3 { text-align: center; color: $dark; margin-bottom: 25px;}
            > h4 { color: #7a7a7a; font-family: $fontblack; font-size: 24px; text-align: center;}

            .choose_list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap; margin-top: 40px; margin-left: -34px; margin-right: -34px;
                > li { width: 33.3%; border: 2px dashed #8e8e8e; padding: 40px; 
                    > aside { margin-bottom: 30px; height: 92px;
                        img { width: auto; height: auto; max-width: 100%; margin: 0 auto; display: block; height: 100%; }
                    }

                    > article {
                        > h4 { font-size: 30px; color: $green; font-family: $fontblack; text-align: center; line-height: 36px; }
                    }
                }

                > li:nth-child(n + 4) {border-top: 0px;}
            }
        }
    }


    .sec-5 { padding: 30px 0px;
        .hldr {
            > h3 { text-align: center; margin-bottom: 30px;}

            .link_hldr { text-align: center; margin-bottom: 45px;
                > li { display: inline-block;
                    a { padding: 15px 55px; font-family: $fontblack; color: $dark; text-decoration: none; background: #eeeeee; transition: 0.3s ease-in; font-size: 18px;}
                }

                > li {
                    a:hover { background: #add068; color: #fff;}
                }

                > li.active{
                    a { background: #add068;color: #fff;}
                }

                > li:first-child { margin-right: -5px;
                    a { border-top-left-radius: 20px; border-bottom-left-radius: 20px;}
                }
                > li:nth-child(2) {
                    a {   border-top-right-radius: 20px; border-bottom-right-radius: 20px;}
                }
            }



            .board { margin-bottom: 30px;



                .top-part {
                    > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;
                        > li { 
                            .sample {background: #add068; text-align: center; padding: 15px;}

                            > h5 { font-family: $fontblack; font-size: 18px; text-align: center; background: #5a5a5a; color: $white;     padding: 15px;}
                        }

                        > li:first-child { width: 33.3%;}

                        > li:nth-child(2) {  width: 66.6%;
                            .divider { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;
                                > li { width: 50%; 
                                    h5 {font-family: $fontblack; font-size: 18px; text-align: center; background: #5a5a5a; color: $white;     padding: 15px;}
                                }
                            }
                        }
                    }
                }


                .mid-part {
                    .menu-tab {  text-align: center; 
                        li { display: inline-block; padding-top: 20px; margin-right: 25px;
                            a { font-family: $fontblack; font-size: 24px; color: #c1c1c1; text-transform: uppercase; text-decoration: none; border-bottom: 7px solid transparent; padding: 0px 20px; transition: 0.3s;}
                        }

                        li.active, li:hover{ 
                            a { color: $green; border-bottom: 7px solid $green;}
                        }
                        
                        li:last-child { margin-right: 0px;}

                    }



                    .common-tab { padding: 15px 0px;
                        > .item_hldr { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;

                            > li { width: 33.3%;     border-right: 1px solid #d0d0d0;

                                > .parent { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; flex-wrap: wrap;  text-align: center; padding: 20px 15px;
                                    > .children { width: 33.3%; ;
                                        > h5 , > p , > h6{ font-family: $fontbook; font-size: 18px; color: $dark; text-transform: uppercase;}
                                    }
                                }

                                > .parent.bg_light { background: #eeeeee;   }

                                > .parent.child-2 {
                                    > .children { width: 50%;}
                                }

                                >.parent.mb_show { display: none;
                                    > .children {
                                        > h5 { font-family: $fontblack; font-size: 18px; color: $white;}
                                    }
                                }

                                >.parent.details {
                                    h6 { display: none;}
                                }

                                > .parent.bg__green { background: #add068;}

                                > .parent.bg__dark { background: #5a5a5a;}
                            }



                            > li:last-child { border: 0px;}

                        }
                    }
                }







            }


            .add-on { 
                > h4 { font-family: $fontblack; font-size: 24px; color: $dark; text-align: center; padding-bottom: 5px; margin-bottom: 15px; position: relative; }

                > h5 {  font-family: $fontblack; font-size: 18px; text-transform: uppercase; margin-bottom: 5px;}

                > ul {
                    > li {
                        > p { font-family: $fontbook; font-size: 18px; color: $dark;}
                    }
                }
            }



        }
    }

}







.tab-content { 
    .collapse { visibility: visible;}
}


.custom-tab { margin-bottom: 0px;

                    h3 { font-size: 36px; /* font-family: $fontmain; */ text-transform: uppercase; position: relative;
                        span {     width: 20px; position: relative; height: 20px; background: transparent; display: inline-block;}
                    }

                    h3 span::after { content: ''; position: absolute; background: $green; width: 80px; height: 8px; left: 20px; top: 2px;}

                    .panel { margin-bottom: 0px;

                        .acc_class { padding: 0px;}

                    }

                    .panel-heading { /* background: $blue; */     background: #eeeeee;
                        h4 { /* font-family: $fontmain; */ font-size: 18px; 
                            a { text-decoration: none; outline: none; font-family: $fontblack;}
                        }
                    }
} 







@media (min-width: 1000px) {
    .panel-heading {
      display: none!important;
    }
    .panel {
      border: none!important;
      box-shadow: none!important;
    }
    .panel-collapse {
      height: auto!important;
    }
    .panel-collapse.collapse {
      display: block!important;
    }
}
@media (max-width: 999px) {
  .tab-content .tab-pane {
    display: block!important;
    visibility: visible!important;
  }
  .nav-tabs {
    display: none!important;
  }
  .panel-title a {
    display: block!important;
  }
  .panel {
    margin: 0!important;
    box-shadow: none!important;
    border-radius: 0!important;
    margin-top: -2px!important;
  }
  .tab-pane:first-child .panel {
    border-radius: 5px 5px 0 0!important;
  }
  .tab-pane:last-child .panel {
    border-radius: 0 0 5px 5px!important;
  }
  .tab-content .collapse { display: none!important}
  .tab-content .collapse.in { display: block!important;}
}































footer { padding: 12px 0px; background: #2d2d2d;

    .left_cs { float: left; padding-top: 15px;
        > ul { 
            > li { display: inline-block; position: relative; padding-right: 15px;
                > a, p { color: $white; font-family: $fontbook; font-size: 16px; text-decoration: none; outline: none;}
            }
            > li::after { position: absolute; width: 2px; top: 0; bottom: 0; content: ''; right: 6px; background: $white; }

            > li:last-child::after { display: none;}
        }
    }


    .right_cs { float: right;
        > ul { 
            > li { display: inline-block; margin-right: 10px;
                img { width: auto; height: auto;}
            }
        }
    }
}















